.overf-hidd{
    height: 780px;
    overflow: auto;
    border-radius: 10px;
}
.login {
    width: 100vw;
    height: 100vh;
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: rgb(255, 255, 255);
    padding: 35px;
    border-radius: 20px;
}

.black-card {
    background-color: #313131;
    color: white;
    border: 3px solid rgb(58, 137, 255);
    border-radius: 15px;
}

.black-form {
    background-color: #313131;
    color: white;
}

.bg-card{
    background-color: #f0f0f0cc;
    border-radius: 15px;
    padding: 10px;
}